.random{
  border: tomato solid 0.1px;
}
.menuBar {
  content: "";
  clear: all;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: auto;
  border-bottom: 1px solid #e2e2e2;
}
nav{
  position:sticky;
  top: 0;
  background-color:white;
}

.icons{
  float: left;
  width: 16px;
  padding-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.logo{
margin-left: auto;
margin-right: auto;
  width: 200px;
}
.sectionHeader{
  width: auto;
  height: 10px;
  color: black;
  text-transform:uppercase;
}
.hyperLinks{
  color: black;
}
.ima{
   max-width: 1200px;
   margin-bottom: 10px;
}
.slim{
  margin: 0;
  padding: 0;
  size: 0.5;
}
.mainSection{
  width: 100%;
}
.mainHeader{
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-size: 40px;
  max-width: 600px;
  font-weight: 700;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #121212;
  vertical-align: baseline;
}
.topImage{
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 50px;
}
a{
color: black;
text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.fontSet{
  font-family: nyt-franklin,helvetica,arial,sans-serif;font-weight:700;
}
.topButton{
  all:unset;
  font-size: 11px;
  float: right;
  margin-right: 5px;
  padding: 11px 12px 8px 12px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #567b95;
  color:white;
  border: 1px;
}
.imgT{
  max-width: 900px;
}
.imageTitle{
  padding-top: 5px;
  color: #666;
  font-size: 16px;
  display: inline;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
.credit{
  color: #888;
  font-size: 13px;
font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
.ar{
  padding-left: 200px;
  width: 800px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.author{
  max-width: 800px;
  margin-bottom: 15px;
}
.content{
  max-width: 600px;
  float: left;
}
.sidebar{
  width: 200px;
  max-width: 200px;
  float: right;
  border: 1px solid red;
}
.flexit{
  padding-left: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.social{
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0px;
  margin-top: 15px;
justify-content: space-between;
}
.left{
  float: left;
}
.right{
  float: right;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 10px;
  padding-right: 5px;
}
.ssc{
  display:inline-block;
  vertical-align:middle;
  background-color:#eee;
  border:1px #eee solid;
  border-radius:50%;
  padding:5px;
  width:15px;
  height:15px;
  margin-left: 10px;
  margin-right: 10px;
}
a :hover{
  background-color:white;
  text-decoration-line: underline;
}
.bookmark{
  height: 20px;
  padding:5px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.sideColumn{
  vertical-align: middle;
}
.withEditorPicks{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.blue{
  color: blue;
}
